.container-1 {
  border: solid 1px grey;
  width: 560px;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  height: 700px;
  align-items: start;
  align-content: space-between;
}
.container-1 div {
  border: solid 2px red;
  padding: 20px 20px;
}
.container-1 .div-h-100 {
  height: 100px;
}/*# sourceMappingURL=style.css.map */