body{
  background-color: aquamarine;
}

table{
  border: solid 4px black;
  width: 700px;
  height: 400px;  
  margin: auto;
  background-color: aliceblue;
}

table td{
   border: solid 4px green;
   width: 100px; 
   height: 100px;
}

main{
  border: solid 4px black;
  width: 50%;
  margin: auto;
  font-size: 1.5em;
}

.td-bg-1{
  background-color: bisque;
}

img {
  width: 120px;
}