*{
    box-sizing: border-box;
}

header, main, footer{
    width: 100%;
    border: solid 1px black;
    min-height: 50px;
    margin: 10px auto;
}

nav{
    ul{
        margin: 0;
        padding: 0;

        li{
            list-style: none;
            border-bottom:solid 1px black;

            a{
                text-decoration: none;
                display: block;
                padding: 8px;
            }

            a:hover{
                background-color: beige;
            }
        }
    }
}

.content{
    article{
        min-height: 100px;
        padding: 20px;
        margin: 10px;
        border: solid 1px black;
        background-color: beige;
    }
}


@media screen and (min-width:570px) {
    main{
        display: flex;

        nav{
            width: 20%;
        }

        .content{
            width: 80%;
        }
    }
}

@media screen and (min-width:800px) {
    .content{
        display: flex;
        flex-wrap: wrap;
        gap: 2%;

        article{
            width: 49%;
            margin: 10px 0px;
        }
    }
}


