body {
  background-color: aqua;
}

table {
  width: 500px;
  height: 500px;
  border: solid 4px black;
  margin: auto;
  background-color: white;
}
table td {
  border: solid 3px red;
}/*# sourceMappingURL=style.css.map */