.video-style {
  width: 500px;
  height: 400px;
}

.container-1 {
  height: 500px;
  background-color: antiquewhite;
  width: 80%;
  margin: auto;
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: auto auto auto auto auto auto;
}
.container-1 div {
  background-color: aqua;
  box-sizing: border-box;
  border: solid 1px black;
  text-align: center;
  padding: 20px;
}
.container-1 .item-1 {
  grid-column: 1/4;
}
.container-1 .item-2 {
  grid-column: 4/7;
}
.container-1 .item-3 {
  grid-area: 2/1/2/3;
}
.container-1 .item-4 {
  grid-area: 2/3/2/7;
}

.container {
  height: 700px;
  background-color: antiquewhite;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto 20% auto;
  gap: 20px 50px;
  grid-template-rows: auto auto auto;
}
.container div {
  background-color: aqua;
  box-sizing: border-box;
  border: solid 1px black;
  text-align: center;
  padding: 20px;
}
.container .item-4 {
  grid-area: 1/2/4/4;
}/*# sourceMappingURL=style.css.map */