.video-style{
    width: 500px;
    height: 400px;
}

.container-1{
    height: 500px;
    background-color: antiquewhite;
    width: 80%;
    margin: auto;
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: auto auto auto auto auto auto;

    div{
        background-color: aqua;
        box-sizing: border-box;
        border: solid 1px black;
        text-align: center;
        padding: 20px;
    }

    .item-1{
        grid-column: 1/4
    }

    .item-2{
        grid-column: 4/7
    }

    .item-3{
        grid-area: 2 / 1 / 2 / 3 ;
    }

    .item-4{
        grid-area: 2 / 3/ 2 / 7 ;
    }
}

.container{
    height: 700px;
    background-color: antiquewhite;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto 20% auto;
    // column-gap: 20px;
    // row-gap: 30px;
    gap: 20px 50px;
    grid-template-rows: auto auto auto;

    div{
        background-color: aqua;
        box-sizing: border-box;
        border: solid 1px black;
        text-align: center;
        padding: 20px;
    }

    // .item-1{
    //     grid-column: 1/4;
    // }

    // .item-2{
    //     grid-column: 2/ span 3;
    // }

    // .item-3{
    //     grid-row: 3/5;
    // }

    .item-4{
        grid-area: 1 / 2 / 4 / 4;
    }
}