$w: 150px;
$h: 150px;
$bg-c: aquamarine;

main{
    border: dotted 3px blue;
    width: 70%;
    min-height: 300px;
    margin: auto;

    div{
        border: solid 1px silver;
        box-sizing: border-box;
        width: $w;
        height: $h;
        background-color: $bg-c;
        margin: auto;
    }

    div:first-child{
        background-color: brown;
        transform: translate(-170px, 40px);
    }

    div:nth-child(2){
        background-color: cadetblue;
        transform: rotate(-60deg);
        position: relative;
        z-index: 1;
    }

    div:nth-child(3){
        background-color: burlywood;
        transform: scale(2, 3);
    }

    div:last-child{
        background-color: coral;
        transform: skewX(30deg);
        // transform: skewY(30deg);
    }

    #example-2{
        transform: skewX(0deg);
        background-color: aqua;
        width: 50px;
        height: 50px;
        cursor: grab;
        margin-top: 100px;
        transition: width 3s, transform 3s, background-color 2s;
    }

    #example-2:hover{
        background-color: rebeccapurple;
        width: 300px;
        transform: rotate(60deg);
    }

    @keyframes animation-1 {
        from {
            width: 50px;
        }
        to {
            width: 650px;
            background-color: green;
            transform: translate(0px, 70px);
            border-radius: 30%;
        }
    }
    
    #anime-1{
        transform: none;
        animation-name: animation-1;
        animation-duration: 4s;
        animation-fill-mode: backwards;
        // animation-delay: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
    }
}

#field{
    margin-bottom: 200px;
    margin-top: 200px;
    width: 900px;
    box-sizing: border-box;
    border-radius: 50%;

    @keyframes circle-action {
        0%{
            transform: translate(-25px, -25px);
        }

        25%{
            transform: translate(-25px, 275px);
        }

        50%{
            transform: translate(875px, 275px);
        }

        75%{
            transform: translate(875px, -25px);
        }

        100%{
            transform: translate(-25px, -25px);
        }
    }

    #circle{
        width: 50px;
        height: 50px;
        background-color: red;
        border-radius: 50%;
        transform: none;
        margin: 0px;
        animation-name:circle-action;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    }
}