body{
    background-color: rgb(157, 158, 176, 0.73)
}

div{
    height: 120px;
    border: solid 3px red;
}

.stili-2{
    background-color: aqua;
    border:solid 5px green;
    margin-top: 70px;
    margin-left: 100px;
}

.stili-4{
    background-color: brown;
    margin: 100px 150px 200px 250px;
}

#pirveli{
    background-color: aliceblue;
    width: 400px;
    text-align: justify;
    margin: 100px auto;
    padding: 30px;
}

.peddingis-magaliti{
    width: 500px;
    height: 150px;
    background-color: white;
    margin: 10px auto;
    border: solid 10px green;
}

.pirveli-divi{
    box-sizing: border-box;
}

.meore-divi{
    text-align: justify;
    padding: 40px;
    box-sizing: border-box;
    overflow: scroll;
}

.mesame-divi{
    text-align: justify;
    padding: 60px;
}