form, div {
  border-top: solid 30px black;
  border-left: solid 30px red;
  border-right: solid 30px yellow;
  border-bottom: solid 30px blue;
  width: 600px;
  min-height: 150px;
  margin: auto;
  padding: 20px;
}
form button, div button {
  padding: 10px;
  font-weight: bold;
}
form input, div input {
  padding: 10px;
  font-size: 1.2em;
}

div {
  margin-top: 20px;
}/*# sourceMappingURL=style.css.map */