body {
  background-color: beige;
  height: 2000px;
}

div {
  border: dotted 5px green;
  height: 100px;
  margin: 20px;
  width: 300px;
  text-align: center;
  font-size: 3em;
}

.gadatana-3 {
  background-color: aquamarine;
  position: absolute;
  right: 200px;
  bottom: 100px;
}

.move-5 {
  background-color: brown;
  position: fixed;
  left: 400px;
}

.d-6 {
  background-color: blueviolet;
  width: 350px;
}

.position-ex-4 {
  background-color: cadetblue;
  position: sticky;
  top: 50px;
}

.position-relative-ex {
  position: relative;
  right: 50px;
  top: 70px;
}

main {
  width: 60%;
  border: solid 4px blue;
  margin: auto;
  background-color: yellowgreen;
  position: relative;
  overflow: hidden;
}
main div {
  background-color: coral;
  float: right;
}/*# sourceMappingURL=style.css.map */