header, main, footer{
    border: solid 1px black;
    min-height: 50px;
    margin: 10px auto;
    width: 80%;
}

@media screen and (max-width: 600px) {
    header {
        background-color: antiquewhite;
        width: 100%;
    }

    main, footer{
        width: 100%;
    }
}

@media only screen and (min-width:1090px) {
    main{
        min-height: 400px;
        background-color: blueviolet;
    }
}